@import url('style.css');
@import url('https://fonts.googleapis.com/css2?family=Arima:wght@100..700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');


body, html {
    margin: 0; /* Remove default margin */
    height: 100%; /* Ensure html and body take full height */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.wave{
    stroke:rgb(128, 210, 235);
}
.timer-container {
    width: 100%;
    max-width: 400px;
    height: 20px;
    background-color: lightgreen;
    border: 1px solid #000;
    border-radius: 5px;
    overflow: hidden;
    margin-top: -50px;
    margin-bottom: 50px; /* Space between timer and meditate container */
}

.timer-bar {
    width: 0;
    height: 100%;
    background-color: darkgreen;
    transition: width linear 0s;
}

.meditate-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 70vh; /* Adjust height to make space for the timer */
    position: relative;
    z-index: 1;
    flex-direction: column; /* Align elements inside vertically */
}


.circle {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 5px solid purple; /* Blue border */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: purple;
    animation: breathe 10s infinite; /* Infinite animation for breathing effect */
}

.breathe-text {
    position: absolute;
    font-size: 36px; /* Increased font size */
    color: purple;
    font-weight: 700; /* Make the text bold */
    font-family: 'Arima', sans-serif; /* Apply the Arima font */
    z-index: 1;
    opacity: 1;
    transition: opacity 0s ease-in-out;
  }

/* Keyframe animation for expanding and contracting the circle */
@keyframes breathe {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2); /* Expand to 120% of original size */
    }
}

